@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(218, 23%, 16%);
  
}

.container {
  width: min-content;
  position: relative;
  padding: 38px 38px 68px 38px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.advice_title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
}

.advice_id {
  font-weight: 800;
  color: hsl(150, 100%, 66%);
  letter-spacing: 4px;
}

.new_advice_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  bottom: -30px;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  
  transition: 0.4s box-shadow ease-in-out;
}

.new_advice_btn:hover{
  box-shadow: 0px 0px 20px 15px rgba(82, 255, 168, 0.25);

}

.loading{
  text-align: center;
  font-weight: 800;
  font-size: 28px;
  color: hsl(193, 38%, 86%);
}
